:root{
  --primaryBackground: #DFF2EB ;
  --secondayBackground: #B9E5E8;
  --headerButtons: #7AB2D3;
  --textColor: #4A628A;
}
*{
  margin: 0;
}
body{
  color: var(--textColor);
  background-color: var(--primaryBackground);
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}
.movingDiv{
  position: absolute;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  z-index: -1;
  top: -30px;
  left: -30px;
  opacity: 0.4;
  border: 1px solid var(--textColor);
  transition: all 0.15s;
  pointer-events: none;
}
.app{
  display: flex;
}
nav{
  display: flex;
  flex-direction: column;
  background-color: var(--secondayBackground);
  justify-content: center;
  gap: 3rem;
  padding: 0 2rem;
  min-height: 100%;
  transition: all 0.3s;
  &:hover{
    padding: 0 4rem;
  }
}

nav a{
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
}
nav a:hover .nav-txt{
  opacity: 1;
  scale: 2;
}
nav a:hover .nav-svg{
  opacity: 0.3;
}
.nav-txt{
  position: absolute;
  display: block;
  scale: 0.2;
  opacity: 0;
  color: var(--textColor);
  transition: all 0.3s;
}
.nav-svg{
  height: 3rem;
}
.content{
  flex-grow: 2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s;
  transform-style: preserve-3d;
}
#home:hover{
  scale: 1.2;
  border: 1px solid var(--textColor);
  border-radius: 18px;
  padding: 12px;
}
#home img{
  height: 10rem;
  fill: var(--textColor);
}
#home h1{
  font-size: 3rem;
}
#home h2{
  font-size: 2rem;
}
.homeText{
  max-width: 480px;
}


@media only screen and (max-width : 480px) {
  .app{
    flex-direction: column;
    min-height: none;
  }
  .movingDiv{
    display: none;
  }
  nav{
    flex-direction: row;
    padding: 1rem 0;
  }
  .nav-svg{height: 2.4rem;}
  #home{
    flex-direction: column-reverse;
    gap: 3rem;
  }
  #home h1{font-size: 2rem;}
  #home h2{font-size: 1.5rem;}
  .homeText{max-width: 300px;}
}